
<div style="margin: 20px;">
  <h1><%=@end_user.nickname%>さんの会員編集画面</h1>
</div>
<div class="container">
  <div style="margin: 90px 0px 300px;">
    <div class="row"> 
        <%= form_with(model: @end_user, url:  public_end_user_path(@end_user.id),local:true,method: :patch) do |f| %>
            <p>ニックネイム</p>
            <%= f.text_field :nickname%>
            <p>メールアドレス</p>
            <%= f.text_field :email%>
            <p>プロフィール画像</p>
            <div id="preview"></div>
            <!-- file_fieldを追加で表示させるために、divタグを追加 -->
            <div class="file-upload">
              <%= f.file_field :profile_image, accept: "image/*", onchange: 'loadImage(this);'%>
              
            </div>
            <div style="margin: 10px;">
              <%= f.submit '編集を保存',class: 'btn-success' %>
            </div>
          <% end %>
    </div>
  </div>
</div>
  <script>
function loadImage(obj)
{
	document.getElementById('preview').innerHTML = '<p class="my-2">プレビュー</p>';
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
			document.getElementById('preview').innerHTML += '<img class="img-fluid mb-2" src="' + e.target.result + '">';
		});
		fileReader.readAsDataURL(obj.files[i]);
	}
}
</script>