<h1>自分の投稿一覧</h1>
<%@end_user.posts.each do |end_user| %>
    <%if end_user.img_urls[0].present? %>
        <%= image_tag end_user.img_urls[0], size: "100x100" %>
    <%else%>
        <%= image_tag 'no_image', size: "100x100" %>
    <%end%>
    <%=end_user.destination%>
    <%=@end_user_age%>代
    <%= link_to "表示", public_post_path(end_user.id) %>
    
<%end%>