<h1>マイページ</h1>
<%=@end_user.id%>
<%=@end_user.nickname%>
<%=@end_user.bike_type%>
<%if @end_user.profile_image.present? %>
    <%= image_tag @end_user.profile_image, size: "100x100" %>
<%else%>
        <%= image_tag 'no_image', size: "100x100" %>
<%end%>
<%=@end_user.age%><%="歳"%>
<%=@end_user.email%>
<%= link_to "会員情報編集へ", edit_public_end_user_path %>
<%= link_to "自分の投稿へ", public_end_users_path %>
<%= link_to "お気に入り一覧へ", public_end_user_favorite_path %>