<h1>投稿編集</h1>
<div class="container">
  <div class="row">
    <table class="table">
      <%= form_with(model: @post, url:  public_post_path(@post.id),local:true,method: :patch) do |f| %>
        <tr>
          <th><%="目的地: "%></th>
          <td><%= f.text_field :destination, :size => "30*30"%></td>
        </tr>
        <tr>
          <th><%="住所: "%></th>
          <td ><%= f.text_field :address, :size => "60*30"%></td>
        </tr>
        <tr>
          <th><%="タグ: "%></th>
          <td><%= f.text_field :name,value: @tag_list, :size => "30*30"%></td>
        </tr>
        <tr>
          <th><%="感想: "%></th>
          <td><%= f.text_area :body, size: "80x5"%></td>
        </tr>
        <tr>
          <td>
            <div id="preview"></div>
            <!-- file_fieldを追加で表示させるために、divタグを追加 -->
            <div class="file-upload">
              <%= f.file_field :img_urls, accept: "image/*", multiple: true, onchange: 'loadImage(this);'%>
              <%= f.submit '編集を保存',class: 'btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
function loadImage(obj)
{
	document.getElementById('preview').innerHTML = '<p class="my-2">プレビュー</p>';
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
			document.getElementById('preview').innerHTML += '<img class="img-fluid mb-2" src="' + e.target.result + '">';
		});
		fileReader.readAsDataURL(obj.files[i]);
	}
}
</script>

      
  