<h1>投稿編集</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @post, url:  public_post_path(@post.id),local:true,method: :patch) do |f| %>
    <%= f.text_field :destination%>
    <%= f.text_field :body%>
    <%= f.text_field :address%>
    <%= f.text_field :name,value: @tag_list%>
    <div id="preview"></div>
    <!-- file_fieldを追加で表示させるために、divタグを追加 -->
    <div class="file-upload">
      <%= f.file_field :img_urls, accept: "image/*", multiple: true, onchange: 'loadImage(this);'%>
      
    </div>
    <%= f.submit '編集を保存',class: 'btn-success' %>
  <% end %>

<script>
function loadImage(obj)
{
	document.getElementById('preview').innerHTML = '<p class="my-2">プレビュー</p>';
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
			document.getElementById('preview').innerHTML += '<img class="img-fluid mb-2" src="' + e.target.result + '">';
		});
		fileReader.readAsDataURL(obj.files[i]);
	}
}
</script>

      
  