<div style="margin: 20px;">
    <h1>投稿一覧です</h1>
</div>
<div class="container">
    <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%="投稿日"%></th>
                            <th><%="アイコン"%></th>
                            <th><%="投稿者名"%></th>
                            <th><%="目的地"%></th>
                            <th><%=""%></th>
                        </tr>
                    </thead>
                    <tbody>
                    <%= render 'shared/post_item', posts: @posts %>
                    </tbody>
                </table>
                
            </div>
                <div class="col-md-3">
                    <h4><%="目的地検索"%></h4>
                    <%= form_tag(public_posts_path, :method => "get") do %>
                     <%= text_field_tag :search %> 
                    <%= submit_tag "Search" ,:destination => nil ,class: "button is-info"%> 
                    <% end %> 
                    <%= link_to "タグ検索へ", public_search_path%></br>
                    <%= link_to "タグ一覧へ", public_tags_path%></br>
                    </br>
                    <% if @tags.present?%>
                        <%@tags.reverse.each do|tag|%>
                            <%if tag.posts.count>=1%>
                                <%@num+=1%>
                                <tr>
                                    <td style="word-break : break-all;">
                                        <i class="fas fa-tag"></i>
                                        <%= link_to tag.name, public_tag_path(tag.id)%><%="(#{tag.posts.count})"%>
                                    </td></br>
                                </tr>
                            <%if @num>=10%>
                                <%break%>
                            <%end%>
                            <%end%>
                        <%end%>
                    <%end%>
                </div>
                
    </div>
    <%= paginate @posts%>
</div>
