<%= form_tag(public_posts_path, :method => "get") do %>
 <%= text_field_tag :search %> 
<%= submit_tag "Search" ,:destination => nil ,class: "button is-info"%> 
<% end %> 
<%= link_to "タグ検索へ", public_tags_path%>
<h1>投稿一覧です</h1>
<%@tag_list.slice(-20, 20).each do |list|%>
<span>
   <i class="fas fa-tag"></i>
   <%= link_to list.name, public_tag_path(list.id)%><%="(#{list.posts.count})"%>
</span>
<%end%>
<%@posts.each do |post|%>
<%if post.end_user.profile_image.present? %>
    <%= image_tag post.end_user.profile_image, size: "100x100" %>
<%else%>
        <%= image_tag 'no_image', size: "100x100" %>
<%end%>
<%=post.end_user.nickname%>
<%=post.id%>
<%=post.destination%>
<%= link_to "表示", public_post_path(post.id) %>
<%end%>
