<div class="container">
  <div class="row"> 
    <div class="col-md-3">
      <% if @tags.present?%>
        <%@tags.reverse.each do|tag|%>
          <%if tag.posts.count>=1%>
            <%@num+=1%>
            <tr>
              <td>
                <i class="fas fa-tag"></i>
                <%= link_to tag.name, public_tag_path(tag.id)%><%="(#{tag.posts.count})"%>
              </td></br>
            </tr>
            <%if @num>=10%>
              <%break%>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
      <%= link_to "タグ検索へ", public_tags_path%></br>
    </div>
    <div class="col-md-9">
      <h1>新規投稿画面</h1>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @post, url:  public_posts_path do |f| %>
        <div>
          <%="目的地 : "%>
          <%= f.text_field :destination%>
        </div></br>
        <div>
          <%="住所 : "%>
          <%= f.text_field :address%>
        </div></br>
        <div>
          <%="本文 : "%>
          <%= f.text_field :body%>
        </div></br>
        <div>
          <%="タグ : "%>
          <%= f.text_field :name%>
        </div></br>
        
        <div id="preview"></div>
        <!-- file_fieldを追加で表示させるために、divタグを追加 -->
        <div class="file-upload">
          <%= f.file_field :img_urls, accept: "image/*", multiple: true, onchange: 'loadImage(this);'%>
          
        </div>
        <%= f.submit '編集を保存',class: 'btn-success' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
function loadImage(obj)
{
	document.getElementById('preview').innerHTML = '<p class="my-2">プレビュー</p>';
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
			document.getElementById('preview').innerHTML += '<img class="img-fluid mb-2" src="' + e.target.result + '">';
		});
		fileReader.readAsDataURL(obj.files[i]);
	}
}
</script>
