<h1>新規投稿画面</h1>
<%= form_with model: @post, url:  public_posts_path do |f| %>
<%= f.text_field :destination%>
<%= f.text_field :body%>
<%= f.text_field :address%>
<%= f.file_field :img_url, accept: "image/*" %>
<%= f.file_field :img_urls, accept: "image/*" ,multiple: true%>
<%= f.hidden_field :end_user_id, :value => @end_user.id %>
<%= f.submit '編集を保存',class: 'btn-success' %>
<% end %>