<div style="margin: 20px;">
<h1>投稿詳細</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table style="border-collapse: separate; border-spacing: 10px;">
        <tr>
          <th style="white-space: nowrap; font-size : 20px;"><%="名前"%></th>
          <td style="word-break : break-all; font-size : 20px;"><%=@post.end_user.nickname%></td>
        </tr>
        <tr>
          <th style="white-space: nowrap; font-size : 20px;"><%="年齢"%></th>
          <td style="word-break : break-all; font-size : 20px;"><%=@age%>代</td>
        </tr>
        <tr>
          <th style="white-space: nowrap; font-size : 20px;"><%="目的地"%></th>
          <td style="word-break : break-all; font-size : 20px;"><%=@post.destination%></td>
        </tr>
        <tr>
          <th style="white-space: nowrap; font-size : 20px;"><%="住所"%></th>
          <td style="word-break : break-all; font-size : 20px;"><%=@post.address%></td>
        </tr>
        <tr>
          <th style="font-size : 20px;"><%="感想"%></th>
          <td style="word-break : break-all;　font-size : 20px;"><%=safe_join(@post.body.split("\n"),tag(:br))%></td>
        </tr>
          <% if @post.img_urls.present?%>
          <tr>
            <th></th>
            <td>
              <%@post.img_urls.each do |img_url|%>
                <%= image_tag img_url, size: "300x200" %>
              <%end%>
            </td>
          <%end%>
          </tr>
      </table>
    </div>
    <div class="col-md-3">
      <% if end_user_signed_in? %>
        <%if @post.end_user_id==current_end_user.id%>
            <td style="white-space: nowrap;"><%= link_to "投稿を編集", edit_public_post_path(@post.id), class: 'btn btn-sm btn-success'%></td>
        <%end%>
        <% if @post.favorited_by?(current_end_user) %>
            <p>
              <%= link_to public_post_favorites_path(@post), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            </p>
        <%else%>
            <p>
              <%= link_to public_post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            </p>
        <%end%>
      <%end%>
      <tr>
        <td><%= link_to "タグ一覧へ", public_tags_path%></td></br>
        <td><%=link_to "タグ検索へ",admin_search_path%></td><br>
      </tr>
      
      <% if @post.tags.present?%>
        <h4><%="タグ"%></h4>
        <%@post.tags.each do|tag|%>
        <tr>
          <td>
            <i class="fas fa-tag"></i>
            <%=link_to tag.name,public_tag_path(tag.id)%><%="(#{tag.posts.count})" %>
          </td></br>
        </tr>
        <%end%>
        
      <%end%>
    </div>
    <div class="col-md-12">
      <%= render 'shared/comment_item', comments: @comments %>
      
    </div>
    <%= paginate @comments%>
  </div>
</div>
    




