<% if @tags.present?%>
    <%@tags.slice(-20, 20) .each do|tag|%>
        <i class="fas fa-tag"></i>
        <%=link_to tag.name,public_tag_path(tag.id)%><%="(#{tag.posts.count})" %>
    <%end%>
<%end%>
<h1>投稿詳細</h1>

<%=@post.end_user.nickname%>
<%=@post.destination%>
<%=@post.body%>
<%=@post.address%>
<%@post.img_urls.each do |img_url|%>
<%= image_tag img_url, size: "100x100" %>
<%end%>
<%=@age%>代
<% if @post.tags.present?%>
  <%@post.tags.each do|tag|%>
    <i class="fas fa-tag"></i>
    <%=link_to tag.name,public_tag_path(tag.id)%><%="(#{tag.posts.count})" %>
  <%end%>
<%end%>
<% if end_user_signed_in? %>
    <%if @post.end_user_id==current_end_user.id%>
        <%= link_to "投稿を編集", edit_public_post_path(@post.id) %>
    <%end%>
<%end%>
<% if end_user_signed_in? %>
  <% if @post.favorited_by?(current_end_user) %>
      <p>
        <%= link_to public_post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      </p>
  <%else%>
      <p>
        <%= link_to public_post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
      </p>
  <%end%>

  <div>
    <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <%if comment.end_user.profile_image.present? %>
        <p><%= image_tag comment.end_user.profile_image, size: "100x100" %></p>
      <%else%>
        <%= image_tag 'no_image', size: "100x100" %>
      <%end%>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
      <%= comment.end_user.nickname %>
      <% if comment.end_user.id== current_end_user.id %>
        <%= link_to "削除", public_post_comment_path(comment.post, comment)  ,method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model:[@post, @comment], url: public_post_comments_path(post_id: @post.id) do |f| %>
      <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
<%else%>
  <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <%if comment.end_user.profile_image.present? %>
        <p><%= image_tag comment.end_user.profile_image, size: "100x100" %></p>
      <%else%>
        <%= image_tag 'no_image', size: "100x100" %>
      <%end%>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
      <%= comment.end_user.nickname %>
    <%end%>
<%end%>





