<%posts.each do |post|%>
    <tr>
        <td><%=post.created_at.strftime('%Y/%m/%d')%></td>
        <%if post.end_user.profile_image.present? %>
            <td><%= image_tag post.end_user.profile_image, size: "100x100" %></td>
        <%else%>
            <td><%= image_tag 'no_image', size: "100x100" %></td>
        <%end%>
        <td><%=post.end_user.nickname%></td>
        <td><%=post.destination%></td>
        <% if admin_signed_in? %>
            <td style="white-space: nowrap"><%= link_to "表示", admin_post_path(post.id), class: 'btn btn-sm btn-success' %></td>
        <%else%>
            <td style="white-space: nowrap"><%= link_to "表示", public_post_path(post.id), class: 'btn btn-sm btn-success' %></td>
        <%end%>
        <% if admin_signed_in? %>
            <td style="white-space: nowrap"><%= link_to "削除",  admin_post_path(post.id),method: :delete , class: 'btn btn-sm btn-danger'%></td>
        <%end%>
    </tr>
<%end%>