<h1>投稿一覧</h1>
<%@posts.each do |post|%>
<%if post.end_user.profile_image.present? %>
    <%= image_tag post.end_user.profile_image, size: "100x100" %>
<%else%>
        <%= image_tag 'no_image', size: "100x100" %>
<%end%>
<%=post.end_user.nickname%>
<%=post.id%>
<%=post.destination%>
<%= link_to "表示",  admin_post_path(post.id) %>
<%= link_to "削除",  admin_post_path(post.id), method: :delete %>
<%end%>