<div style="margin: 20px;">
<h1>投稿詳細</h1>
</div>
<div class="container">
  <div class="row"> 
    <div class="col-md-9">
       <%= render 'shared/post_show', post: @post %>
    </div>
    <div class="col-md-3">
      <% if @post.tags.present?%>
        <h4><%="タグ"%></h4>
        <%@post.tags.each do|tag|%>
          <div class="text-wrap">
            <i class="fas fa-tag"></i>
            <%=link_to tag.name,admin_tag_path(tag.id)%><%="(#{tag.posts.count})" %>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="col-md-12">
      
      　<%= render 'shared/comment_item', comments: @comments %>
          
      <%= paginate @comments%>
    </div>
  </div>
</div>