<h1>タグ検索</h1>
<%= form_tag(public_tags_path, :method => "get") do %>
 <%= text_field_tag :search %> 
<%= submit_tag "Search" ,:name => nil ,class: "button is-info"%> 
<% end %> 
<%if @tags.present?%>
    <%@tags.each do |tag|%>
        <i class="fas fa-tag"></i>
       <%= link_to tag.name, public_tag_path(tag.id)%><%="(#{tag.posts.count})"%>
    <%end%>
<%end%>