<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class = "field">
    <%= f.label :nickname, "ユーザー名" %><br />
    <%= f.text_field :nickname,  size: 20, autofocus: true, placeholder: "最大10文字", maxlength: 10 %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class = "field">
    <%= f.label :age, "年齢" %><br />
    <%= f.text_field :age,  size: 3, autofocus: true,  maxlength: 3 %>
  </div>
  
  <div class = "field">
    <%= f.label :bike_type, "車種" %><br />
    <%= f.text_field :bike_type,  size: 5, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <div id="preview"></div>
    <!-- file_fieldを追加で表示させるために、divタグを追加 -->
    <div class="file-upload">
      <%= f.file_field :img_urls, accept: "image/*", multiple: true, onchange: 'loadImage(this);'%>
      
    </div>
    <%= f.submit 'sign_up',class: 'btn-success' %>
  <% end %>

<script>
function loadImage(obj)
{
	document.getElementById('preview').innerHTML = '<p class="my-2">プレビュー</p>';
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
			document.getElementById('preview').innerHTML += '<img class="img-fluid mb-2" src="' + e.target.result + '">';
		});
		fileReader.readAsDataURL(obj.files[i]);
	}
}
</script>

<%= render "public/shared/links" %>
