<h1>編集画面</h1>
<div class="container">
    <div class="row"> 
        <table>
            <%= form_with(model: @end_user, url: admin_end_user_path(@end_user.id), method: :patch) do |f| %>
                <tr>
                  <th><%="ニックネイム: "%></th>  
                  <td><%= f.text_field :nickname%></td>
                </tr>
                <tr>
                  <th><%="email: "%></th>  
                  <td><%= f.text_field :email ,size: "50x20"%></td>
                </tr>
                <tr>
                  <th><%="バイクの車種: "%></th>  
                  <td><%= f.text_field :bike_type%></td>
                </tr>
                <tr>
                  <th><%="年齢: "%></th>  
                  <td><%= f.text_field :age%></td>
                </tr>
                <tr>
                  <th><%="会員ステータス: "%></th>  
                    <td>
                        <%= f.radio_button :is_deleted, true %>
                        <%= f.label :is_active, '退会', value: true %>
                    </td> 
                    <td>
                        <%= f.radio_button :is_deleted, false %>
                        <%= f.label :is_active, '有効', value: false %>
                    </td>
                </tr>
                <tr>
                    <td><%= f.submit '編集を保存' %></td>
                </tr>
            <%end%>
        </table>
    </div>
</div>