<div style="margin:20px;">
<h1>管理用ユーザー詳細</h1>
</div>
<div style="margin-bottom:150px; margin-top:40px;">
<div class="container">
    <div class="row"> 
        <div  class="col-md-6">
        <table class="table">
            <tr>
                <th style="white-space: nowrap;"><%="ユーザーid: "%></th>
                <td><%=@end_user.id%></td>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="ニックネイム: "%></th>
                <td><%=@end_user.nickname%></td>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="email: "%></th>
                <td><%=@end_user.email%></td>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="年齢: "%></th>
                <td><%=@end_user.age%></td>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="バイクの車種: "%></th>
                <td><%=@end_user.bike_type%></td>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="アイコン: "%></th>
                <%if @end_user.profile_image.present? %>
                    <td><%= image_tag @end_user.profile_image, size: "100x100" %></td>
                <%else%>
                    <td><%= image_tag 'no_image', size: "100x100" %></td>
                <%end%>
            </tr>
            <tr>
                <th style="white-space: nowrap;"><%="退会プロフィール: "%></th>
                <%if @end_user.is_deleted==true%>
                <td>
                    <font color="red">退会</font>
                </td>
                <%else%>
                <td>
                    <font color="#00ff00">退会していない</font>
                </td>
                <%end%> 
            </tr>
        </table>
        </div>
        <div  class="col-md-6">
            <div style="position: absolute; top: 400px;">
                <%= link_to "編集画面へ", edit_admin_end_user_path(@end_user.id), class: 'btn btn-sm btn-success' %>
            </div>
        </div>
    </div>
</div>
</div>